@CHARSET "ISO-8859-1";

/*CONFIGURACION GENERAL*/
*{  
	/*background-image: url("imagenes/holbox-1.jpg");*/
	background-color: #FFFFFF;
	color: #FFFFFF;
	
	
}
body{
	
	
}
/*TEXTO TITULO*/
h1{ 
	text-align:center;
	color:#000000;
	
	
    
}
/*CAMPO EMAIL*/
h2{ 
	text-align:center;
	/*text-align:center;*/
	color:#000000;
	font-size:medium;
	
	
    
}

h3{ 
	text-align:center;
	color:#000000;
	font-size:medium;
	
    
}

h4{ 
	text-align:center;
	/*text-align:center;*/
	color:#000000;
	font-size:medium;
	
    
}



p{
	text-align:center;
	color:#000000;
}

a{
	text-align:center;
	color:#0000FF;
}

input{
	text-indent:1m;
    color:#000000;
    background-color: #F5F6CE;
    
    
}

